<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
     {{>header}}
     <div class="main-content" >
    <h3>Help</h3>
    <p>{{helpText}}</p>
     </div>
</body>

</html>