<!DOCTYPE html>

<html>
    <head>
           <link rel="stylesheet" href="/css/styles.css" >
    </head>

    <body>
           {{>header}}
        <div class ="container">
            <h1>Your Pocket Managment App</h1>
            <div class="AmountCon">
                <label for ="Amount">Your Amount</label>
                <input type="text" id="Amount" name="Amount"><br><br>
                <label for ="Date" id="LblDate">Your Date</label>
                <input type="date" id="Date" name="Amount"><br><br>
            </div>
        </div>

        <div class="Results">
            <button id= "Adding" type="adding1" name="Add your amount">Adding</button> 
            <output name="result" for="a b" id="FinalResult">{{Total}}</output>
        </div>
            <!-- <div class="Timing">
                <button id="Dating" type="adding1" name="Add your amount">Date</button> 
            </div> -->
    {{!-- <script src="/js/app.js"></script> --}}
    </body>
    
</html>
